body {
  background-color:lightblue;
}

h1 {
  text-align: center;
  color: goldenrod
}

.grid-container {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: auto auto auto auto;
  align-content: center;
}