body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  color: goldenrod;
  font-size: 100px;
  font-family: fantasy;
}

.grid-container {
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: 450px 450px 450px 450px;
  text-align: center;
  color: goldenrod;
  font-size: 43px;
  font-style: bold;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.grid-items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 450px 450px 450px 450px;
  text-align: center;
  color: goldenrod;
  font-size: 18px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.grid-images {
  display: grid;
  grid-template-rows: auto;                                                                                                                   
  grid-template-columns: 450px 450px 450px 450px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-style: italic;
}




