body {
    background-color: lightgray;
}

h1 {
  color: darkred;
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif  
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 30px;
}
