

body {
    background-color: lightblue;
    color: goldenrod;
}

footer {
    position: fixed;
    right: 1em;
    bottom: 0;
    width: 100%;
    color: goldenrod;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    position: relative;
}

h3 {
    text-align: center;
    font-style: bold;
}

h4 {
    text-align: center;
    color: goldenrod;
}

img { 
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header {
    text-align: center;
}

h1{
    font-size: 35px;
}

h2 {
    font-size: 35px;
}

